<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>SIT722 Assignment 7.2P <%= title %></p>
    <style>
      table {
        border-collapse: collapse;
        width: 100%;
      }
      th, td {
        border: 1px solid black;
        padding: 8px;
        text-align: left;
      }
      th {
        background-color: #f2f2f2;
      }
    </style>

    <table>

      
      <% Glossary.forEach((Glosary) => { %>

        <tr>

          <td>
            <%= Glosary.ID %>
          </td>
          <td>
            <%= Glosary.Term %>
          </td>
          <td>
            <%= Glosary.Description %>
          </td>
          <td>
            <%= Glosary.References %>
          </td>
        </tr>


      <% }); %>

    </table>

  </body>
</html>
